<div class="card">
    <h1 class="text-center">Introduciong the worlds best application</h1>
    <div class="card-body row">
        <div></div>
        <div class="col-12 items-align-center p-2">
            <img src="assets/Fondo.jpg" class="img-fluid" alt="Imagen principal">
        </div>
        <div class=" col-4 p-2 order-1">
            <img src="assets/Kat.jpg" class="img-fluid" alt="Imagen1">
            <h3>Read our blog</h3>
            <p>_______________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________</p>

        </div>
        <div class="col-4 p-2 order-2">
            <img src="assets/Kat.jpg" class="img-fluid" alt="Imagen2">
            <h3>Send us feedvack</h3>
            <p>_______________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________</p>

        </div>
        <div class=" col-4 p-2 order-3">
            <img src="assets/Kat.jpg" class="img-fluid" alt="Imagen3">
            <h3>Get to know us</h3>
            <p>_______________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________</p>
        </div>
    </div>
</div>