<footer>
    <div class="card">
        <div class="card-body row">
            <div class=" col-3 p-2 order-1">
                <img src="/assets/Kat.jpg" class="img-fluid" alt="Imagen1">
            </div>
            <div class="col-3 p-2 order-2">
                <img src="/assets/Kat.jpg" class="img-fluid" alt="Imagen2">
            </div>
            <div class=" col-3 p-2 order-3">
                <img src="/assets/Kat.jpg" class="img-fluid" alt="Imagen3">
            </div>
            <div class=" col-3 p-2 order-4">
                <img src="/assets/Kat.jpg" class="img-fluid" alt="Imagen4">
            </div>
        </div>
    </div>
</footer>