<nav class="navbar navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="assets/Logo.png" width="200" height="200"  class="img-fluid" alt="Imagen principal">
      </a>
      <div class="col-md-4 text-end">
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a routerLink="/Home" class="nav-link px-2 link-secondary fw-bold" >Home</a></li>
            <li><a href="#" class="nav-link px-2 link-dark fw-bold">Features</a></li>
            <li><a routerLink="/Detalles" routerLinkActive="active-link" class="nav-link px-2 link-dark fw-bold">About us</a></li>
            <li><a href="#" class="nav-link px-2 link-dark fw-bold">Support</a></li>
            <li><a href="#" class="nav-link px-2 link-dark fw-bold">Buy now</a></li>
          </ul>
      </div>
    </div>
</nav>