<div class="row">
<div class="card col-8">
    <div class="card-body">
        <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur libero dolor, pretium eget vestibulum at, laoreet nec ex. Praesent non condimentum mi, eu venenatis ligula. Pellentesque sed nulla viverra, scelerisque velit sed, aliquam nulla. Donec ullamcorper quam eu lorem tincidunt, nec tincidunt eros elementum. Ut a semper mi. Fusce sagittis sagittis malesuada. Pellentesque molestie dui fringilla, commodo mi eget, porttitor massa. Nunc id pellentesque magna. Cras ultricies dapibus posuere. In accumsan erat turpis, non pretium elit accumsan vel.

            Phasellus sed sapien a ligula congue auctor et vel eros. Phasellus dignissim diam eget tortor rhoncus scelerisque. Proin elit ex, volutpat commodo orci eget, malesuada accumsan quam. Mauris lobortis, sapien ut gravida congue, enim odio commodo dui, a accumsan elit eros id justo. Aliquam ac ipsum venenatis, condimentum justo non, egestas lacus. Quisque vitae ligula suscipit, porta eros ut, finibus purus. Sed porttitor quam euismod erat ultrices dapibus.
            
            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque id interdum est. Quisque odio arcu, tincidunt in rhoncus sed, dictum eu velit. Etiam sed sollicitudin risus. Integer eu commodo nulla, in convallis dolor. Phasellus fermentum ut purus ac molestie. Fusce euismod, leo at rhoncus tempor, ante ligula hendrerit lorem, semper lacinia mi nulla egestas enim.
            
            Praesent pretium leo ac accumsan sollicitudin. Donec vel interdum leo, eget suscipit augue. Morbi eget interdum mauris, vel tincidunt risus. Vivamus et orci vestibulum, sagittis leo commodo, semper tortor. Vestibulum sollicitudin tortor non nulla consectetur, eget dignissim dui bibendum. Fusce non erat vulputate nibh posuere cursus ut ut tortor. Duis at risus id velit iaculis bibendum ac at eros.

            Duis id massa sit amet nibh molestie fringilla egestas sed felis. Maecenas in euismod nunc. Fusce vestibulum blandit metus, vitae accumsan lectus aliquet eget. Fusce rhoncus non mauris quis ultrices. Praesent eu risus urna. Nam euismod est nec tellus tincidunt, nec malesuada erat lacinia. Aliquam scelerisque, arcu et euismod lobortis, lacus felis rhoncus odio, eu facilisis ipsum ipsum interdum mi. Vestibulum pellentesque ligula nec lorem tristique, vel aliquet tellus fermentum. Nam porttitor massa ut arcu iaculis vestibulum sed at dolor. Vivamus sem lectus, euismod eget purus nec, maximus molestie ipsum. Quisque feugiat nulla quis purus finibus, id luctus sapien malesuada. Nullam pharetra cursus dignissim. Nulla porta, urna sit amet faucibus placerat, purus turpis fermentum eros, sed elementum libero augue eu nisi. Sed ut aliquam dolor. Sed urna dui, pharetra at consequat vel, rutrum non justo.</p>
    
            <img src="/assets/Fondo.jpg" class="img-fluid" alt="Imagen principal">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non interdum ligula. Cras efficitur molestie enim, et iaculis massa sodales sodales. Fusce facilisis lacinia ligula, eget interdum felis ullamcorper eu. Etiam varius vehicula ultrices. Duis eu faucibus nisl. Nulla facilisi. Cras non ornare quam. Integer a feugiat tortor.</p>
    </div>
</div>
<div class="card col-4">
    <div class="card-body">
        <input class="form-control col-2 mt-3 mb-3"  type="search" placeholder="Search" aria-label="Search">
        <h3>Categorias</h3>
        <ul>
            <li >Item1</li>
            <ul>
                <li >Item1</li>
              </ul>
            <li >Item3</li>
            <li >Item4</li>
          </ul>
        <h3>Entradas</h3>
        <div class="card" style="width: 18rem;">
            <ul class="list-group list-group-flush pb-2">
              <li class="list-group-item">Item1</li>
              <li class="list-group-item">Item2</li>
              <li class="list-group-item">Item3</li>
              <li class="list-group-item">Item4</li>
            </ul>
        </div>
        <h3 class="pt-2">Que hablo</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non interdum ligula. Cras efficitur molestie enim, et iaculis massa sodales sodales. Fusce facilisis lacinia ligula, eget interdum felis ullamcorper eu. Etiam varius vehicula ultrices. Duis eu faucibus nisl. Nulla facilisi. Cras non ornare quam. Integer a feugiat tortor.</p>
    </div>
</div>
</div>